<div class="dashboard-container navbar-expand navbar-light navbar-bg d-flex">

  <div class="dashboard-nav">
    <h2>Dashboard</h2>
    <ul class="nav-list">
      <li class="nav-item">
        <a class="nav-link" routerLink="admin-booking">Bookings</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="admin-users">Users</a>
      </li>
      <li class="nav-item border-bottom">
        <a class="nav-link" routerLink="admin-owners">Hall Owners</a>
      </li>
    </ul>
  </div>
  <div class="dashboard-content">
    <div class="dashboard-tabs d-flex">
      <div class="topbar d-flex justify-content-end align-items-center">
        <button class="notif-btn"><i class="fas fa-bell"></i> </button>
        <button class="logout-btn" (click)="logout()"><i class="fas fa-sign-out-alt"></i> </button>
      </div>
      <div class="tab-content">
        <router-outlet></router-outlet>
      </div>
    </div>
  </div>
</div>