body {
    background-color: #f8f9fa;
  }
  
  .form-group {
    margin-bottom: 1.5rem;
  }
  
  label {
    font-weight: bold;
  }
  
  input[type="text"], input[type="link"] {
    border-radius: 0.25rem;
    border: 1px solid #ced4da;
    margin-bottom: 1.5rem;
  }
  
  button[type="button"] {
    margin: 0.5rem;
    box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.3);
    background-color: #ab5757;
    color: white;
    border: none;
    border-radius: 0.25rem;
    padding: 0.375rem 0.75rem;
  }
  
  button[type="button"]:hover {
    background-color: #920404;
  }
  
  button[type="submit"] {
    margin-top: 1rem;
    background-color: #a72828;
    color: white;
    box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.3);
    border: none;
    border-radius: 0.25rem;
    padding: 0.375rem 0.75rem;
    width: 50%;
    justify-content: center;
  }
  
  button[type="submit"]:hover {
    background-color: #541212;
  }
  
  .terms-mailing .checkbox {
    margin-bottom: 0.5rem;
  }
  
  @media (min-width: 768px) {
    form {
      width: 70%;
      margin: auto;
    }
  }
  