<!-- <form [formGroup]="updateForm" (ngSubmit)="onUpdate()">
    <br>
    <div class="form-group">
      <label for="name">Hall Name</label>
      <input type="text" class="form-control" formControlName="name" id="name" required>
      <div *ngIf="updateForm.controls['name'].errors?.['required']" class="invalid-feedback d-block">Hall Name is required.</div>
    </div>
  
    <div class="form-group" formGroupName="address">
      <label for="address.street">Street Address</label>
      <input type="text" class="form-control" formControlName="street" id="address.street">
  
      <label for="address.city">City</label>
      <input type="text" class="form-control" formControlName="city" id="address.city">
  
      <label for="address.state">State</label>
      <input type="text" class="form-control" formControlName="state" id="address.state" >
  
      <label for="address.country">Country</label>
      <input type="text" class="form-control" formControlName="country" id="address.country" >
  
      <label for="address.postalcode">Postal Code</label>
      <input type="text" class="form-control" formControlName="postalcode" id="address.postalcode">
    </div>
  
    <div class="form-group">
      <label for="capacity">Hall capacity</label>
      <input type="text" class="form-control" formControlName="capacity" id="capacity" >
    </div>
  
    <div formArrayName="amenities">
      <label for="amenities">Amenity</label>
      <div *ngFor="let amenity of updateForm?.get('amenities')?.controls; let i=index">
        <input type="text" [formControlName]="i" id="amenity{{i}}">
        <button type="button" (click)="removeAmenity(i)">Remove</button>
        <button type="button" (click)="addAmenity()" *ngIf="i === updateForm.get('amenities').controls.length - 1">Add Amenity</button>
      </div>
    </div>
  
    <div class="form-group" formGroupName="pricing">
      <label for="pricing.perHour">perHour Pricing</label>
      <input type="text" class="form-control" formControlName="perHour" id="pricing.perHour">
  
      <label for="pricing.perDay">perDay Pricing</label>
      <input type="text" class="form-control" formControlName="perDay" id="pricing.perDay">
  
      <label for="pricing.perWeek">perWeek Pricing</label>
      <input type="text" class="form-control" formControlName="perWeek" id="pricing.perWeek">
    </div>
  
    <div formArrayName="images">
      <label for="images">Image</label>
      <div *ngFor="let image of updateForm.get('images').controls; let i=index">
        <input type="link" [formControlName]="i" id="image{{i}}">
        <button type="button" (click)="removeImage(i)">Remove</button>
        <button type="button" (click)="addImage()" *ngIf="i === updateForm.get('images').controls.length - 1">Add Image</button>
      </div>
    </div>
  
    <div class="form-group" formGroupName="geolocation">
      <label for="geolocation.longitude">Longitude</label>
      <input type="text" class="form-control" formControlName="longitude" id="geolocation.longitude">
  
      <label for="geolocation.latitude">Latitude</label>
      <input type="text" class="form-control" formControlName="latitude" id="geolocation.latitude">
    </div>
  
    <div class="terms-mailing">
      <div class="checkbox"> 
        <input type="checkbox" name="checkbox"><span>I accept the <a href="https://www.partyhallsapp.com/privacy-policy">Privacy Policy for Party Halls App.</a></span>
      </div>
      <div class="checkbox">
        <input type="checkbox" name="checkbox"><span>I have uploaded valid information.</span>
      </div><br />
    </div>
    <button type="submit" class="btn btn-primary">Upload Party Hall</button>
  </form> -->