body {
    background-color: #f8f9fa;
  }
  
  .form-group {
    margin-bottom: 1.5rem;
  }
  
  label {
    font-weight: bold;
  }
  
  input[type="text"], input[type="link"] {
    border-radius: 0.25rem;
    border: 1px solid #ced4da;
    margin-bottom: 1.5rem;
  }
  
  button[type="button"] {
    margin: 0.5rem;
    background-color: #577fab;
    color: white;
    border: none;
    border-radius: 0.25rem;
    padding: 0.375rem 0.75rem;
  }
  
  button[type="button"]:hover {
    background-color: #044992;
  }
  
  button[type="submit"] {
    margin-top: 1rem;
    background-color: #28a745;
    color: white;
    border: none;
    border-radius: 0.25rem;
    padding: 0.375rem 0.75rem;
    width: 100%;
  }
  
  button[type="submit"]:hover {
    background-color: #1e7e34;
  }
  
  .terms-mailing .checkbox {
    margin-bottom: 0.5rem;
  }
  
  @media (min-width: 768px) {
    form {
      width: 70%;
      margin: auto;
    }
  }
  