<div class="user-details"><br>
  <h2> Personal Details</h2><br><br>
  <p class="user-info">
    Name: {{ name }} <br><br>
    Email: {{ email }} <br><br>
    Phone: {{ phonenumber  }} <br><br>
    Address:
    <span *ngFor="let addr of address">
      {{ addr.street }}, {{ addr.city }}, {{ addr.state }}, {{ addr.country }}, {{ addr.postalcode }}
    </span>
    </p>
    <br/>
    <!-- Party Hall Cards -->
    <div class="party-hall-card-grid">
      <div *ngFor="let currentPartyHall of matchingHalls" class="party-hall-card">
        <img [src]="partyHallService.getImageUrl(currentPartyHall.images)" (error)="handleImageError($event)"
          [alt]="currentPartyHall.name + ' image'" />
        <div class="party-hall-details">
          <h3><b>{{ currentPartyHall.name }}</b></h3>
          <h5>{{ currentPartyHall.address.city }}, {{ currentPartyHall.address.state }}, {{ currentPartyHall.address.country }}</h5>
          <p>Capacity: {{ currentPartyHall.capacity }}<br /><br />Pricing: {{ currentPartyHall.pricing.perDay }}/day</p>
        </div>
        <button (click)="Rating()">Rate</button>
      </div>
    </div>
    <router-outlet></router-outlet>
  </div>