  /* Display the hall card grid */
.party-hall-card-grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
/* Control the hall card styles */
.party-hall-card {
  width: 18rem;
  margin: 1rem;
  border: 0.2rem solid #ccc;
  border-radius: 0.5rem;
  overflow: hidden;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
  cursor: pointer;
  background-color: rgb(255, 247, 238);
}

h2{
  margin:1rem;
}

/* Style the dhall card on hover state */
.party-hall-card:hover {
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.5);
}

/* Control the size of the dhall card image */
.party-hall-card img {
  width: 100%;
  height: 20rem;
}

/* Control the dhall card details */
.party-hall-details {
  padding: 1rem;
  text-align: left;
}

/* Control the font and margin for the titles */
h3, h5 {
  margin-top: 0;
  margin-bottom: 0.5rem;
  font-size: 1.2rem;
  padding: 1rem;
  text-align: center;
}

button {
  position: static;
  margin: 1rem 6rem;
  background-color: darkseagreen;
  border-radius: 0.8rem;
  padding-left:1rem;
  padding-right:1rem;
}

a{
  text-decoration: none;
  color: black;
}


@import url("https://fonts.googleapis.com/css2?family=Poppins:weight@100;200;300;400;500;600;700;800&display=swap");


       body{
        background-color:#545454;
        font-family: "Poppins", sans-serif;
        font-weight: 300;
       }

       .card{
        width: 380px;
        border: none;
        border-radius: 15px;
        padding: 8px;
        background-color: #fff;
        position: relative;
        height: 370px;
        background-color: rgb(255, 247, 238);
       }

       .upper{
        height: 100px;
       }

       .upper img{
        width: 100%;
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
       }

       .user{
        position: relative;
       }

       .profile img{
        height: 80px;
        width: 80px;
        margin-top:2px;
       }

       .profile{
        position: absolute;
        top:-50px;
        left: 38%;
        height: 90px;
        width: 90px;
        border:3px solid #fff;
        border-radius: 50%;
       }

       .follow{
        border-radius: 15px;
        padding-left: 20px;
        padding-right: 20px;
        height: 35px;
       }

       .stats span{
        font-size: 29px;
       }