.card {
    margin-top: 10px;
  }
  
  .form-group {
    margin-bottom: 8px;
  }
  
  label {
    display: block;
    margin-bottom: 0.5rem;
  }
  
  input[type="email"],
  input[type="password"],
  input[type="text"] {
    width: 100%;
    border: 1px solid #ccc;
    padding: 8px;
    border-radius: 5px;
  }
  
  .button-group {
    text-align: center;
  }
  
  button[type="submit"] {
    display: inline-block;
    background-color: rgb(74, 93, 179);
    border: none;
    color: #fff;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
  }
  
  button[type="submit"]:hover {
    background-color: #033f7e;
  }
  
  .text-danger {
    font-size: 12px;
    color: red;
  }
  
  .nav-tabs{
    cursor: pointer;
  }
  
  .nav-tabs .nav-link.active {
    color: #fff;
    background-color: rgb(74, 93, 179);
  }
  
  .invalid-feedback {
    animation: fade-in-out 0.5s ease-in-out;
    animation-iteration-count: 1;
    opacity: 1;
  }
  
  @keyframes fade-in-out {
    0% {
      opacity: 1;
    }
    75% {
      opacity: 1;
    }
    100% {
      opacity: 0;
    }
  }
  
  .nav-link {
    transition: 0.3s ease-out;
  }