/* Display the artwork card grid */
.user-card-grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  
  /* Style the search bar */
  i {
    margin: 1rem;
    /* Icon margin */
  }
  
  .search-bar {
    display: flex;
    justify-content: center;
    text-align: center;
    margin-bottom: 2rem;
    margin-top: 2rem;
    width: 100%;
    height: 20%;
  }
  
  /* Set styles for the input element */
  input {
    width: 30%;
    height: auto;
    border-radius: 1.5rem;
  }
  
  ::placeholder {
    text-align: center;
    /* Center the placeholder text */
  }
  
  /* Control the artwork card styles */
  .user-card {
    width: 18rem;
    margin: 2rem;
    border: 0.2rem solid #ccc;
    border-radius: 0.5rem;
    overflow: hidden;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
  }
  
  /* Style the artwork card on hover state */
  .user-card:hover {
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.5);
  }
  
  /* Control the size of the artwork card image */
  .user-card img {
    width: 100%;
    height: 20rem;
  }
  
  /* Control the artwork card details */
  .card-details {
    padding: 1rem;
    text-align: left;
  }
  
  /* Control the font and margin for the titles */
  h3, h5 {
    margin-top: 0;
    margin-bottom: 0.5rem;
    font-size: 1.2rem;
    padding: 1rem;
    text-align: center;
  }
  
  
  
  /* Control the font and margin for the details */
  p {
    margin: 0;
    font-size: 1.1rem;
    padding:2rem 1rem;
  }
  
  /* Set width of the cards to 100% for smaller devices */
  @media (max-width: 767px) {
    .card {
      width: 100%;
    }
  }
  
  /* Control the look of hyperlink elements */
  a {
    text-decoration: none;
    color: black;
  }
  
  /* Style the pagination container */
  .pagination-container {
    position: relative;
    /* Set the position of the container */
    bottom: 20px;
    /* Position the thing 20 pixels from the bottom */
    width: 100%;
    /* Full width */
    text-align: center;
    /* Center the content */
  }