.carousel-container {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: -1;
}

img {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  overflow: hidden;
}

@media screen and (max-width: 768px) {
  .img {
    height: 50vh;
  }
}

.card {
  background-color: #fff;
  background-image: linear-gradient(to top, #403939, #3b3636);
  color:white;
}

h1{
  color: white;
  padding: 1rem;
  margin: 0.5rem;
  background-color: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(20px);
  border-radius: 10px;
  color: linear-gradient(to right, #ff9a9e, #fecfef);
  font-family: Georgia, 'Times New Roman', Times, serif;
  text-shadow: 3px 2px black;
  text-align: justify;
  font-size: 3rem;
  font-weight: bold;
}

h4{
  color: white;
  padding: 1rem;
  margin: 0.5rem;
  background-color: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(20px);
  border-radius: 10px;
  color: linear-gradient(to right, #ff9a9e, #fecfef);
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  text-shadow: 1px 0.5px black;
  text-align: justify;
}

.card {
  margin-top: 10px;
  margin-bottom: 30px;
}

.form-group {
  margin-bottom: 8px;
}

label {
  display: block;
  margin-bottom: 0.5rem;
}

input[type="email"],
input[type="password"],
input[type="text"] {
  width: 100%;
  border: 1px solid #ccc;
  padding: 8px;
  border-radius: 5px;
  
}

.button-group {
  text-align: center;
}

button[type="submit"] {
  display: inline-block;
  background-color: rgb(74, 93, 179);
  border: none;
  color: #fff;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
}

button[type="submit"]:hover {
  background-color: #033f7e;
}

.text-danger {
  font-size: 12px;
  color: red;
}

.nav-tabs{
  cursor: pointer;
}

.nav-tabs .nav-link.active {
  color: #fff;
  background-color: rgb(74, 93, 179);
}

.invalid-feedback {
  animation: fade-in-out 0.5s ease-in-out;
  animation-iteration-count: 1;
  opacity: 1;
}

@keyframes fade-in-out {
  0% {
    opacity: 1;
  }
  75% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.nav-link {
  transition: 0.3s ease-out;
}

.btn-primary {
  display: inline-block;
  margin: 0;
  padding: .5rem 1rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #fff;
  text-align: center;
  background-color: #5282ca;
  border-color: #6936f4;
  /* border-radius: .25rem; */
  transition: background-color .3s ease-out, border-color .3s ease-out, box-shadow .3s ease-out;
  border-radius: 2rem;

}

.btn-primary:hover, .btn-primary:focus {
  color: #fff;
  background-color: #8735e5;
  border-color: #e53935;
  box-shadow: 0 0 0 .2rem rgba(244, 67, 54, .25);
}

.btn-primary:active, .btn-primary.active {
  color: #fff;
  background-color: #c62828;
  border-color: #c62828;
  box-shadow: inset 0 .2rem .4rem rgba(0, 0, 0, .15);
}

.btn-primary[disabled], .btn-primary.disabled {
  opacity: .65;
  background-color: #ccc;
  border-color: #ccc;
  color: #888;
}

.form-select{
  border-radius: 2rem;
}