@media screen and (max-width: 768px) {
  .img {
    height: 50vh;
  }
}

.icons .fa-dollar-sign {
  margin-left: 1.5rem;
  margin-right: 0.3rem;
}

.icons .fa-user-friends {
  margin-left: 2rem;
  margin-right: 0.5rem;
}

.party-hall-details {
  margin: 0.5rem;
}

/* Control the font and margin for the details */
p {
  margin: 0.5rem;
  font-size: 1.1rem;
  text-align: center;
}

/* Set width of the cards to 100% for smaller devices */
@media (max-width: 767px) {
  .card {
    width: 100%;
  }
}

/* Control the look of hyperlink elements */
a {
  text-decoration: none;
  color: black;
}

/* Style the pagination container */
.pagination-container {
  position: relative;
  bottom: 20px;
  width: 100%;
  text-align: center;
  cursor: pointer;
}

.pagination .active a.page-link {
  background-color: rgb(180, 17, 17);
  border-color: #960c10;
}

/* Top Navigation Bar */
.navbar {
  background-color: #fff;
  box-shadow: 0px 3px 12px -8px rgba(0, 0, 0, 0.75);
}

.navbar-brand {
  font-weight: bold;
  font-size: 1.3rem;
}

.navbar-nav .nav-link {
  font-size: 1.1rem;
}

/* Carousel */
.carousel-container {
  width: 100%;
  height: 400px;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.carousel-container img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* Party Hall Cards */
.card-body {
  text-align: center;
  color: #3b3636;
  border: none;
}

.party-hall-card-grid {
  margin: 0 -15px;
}

.party-hall-card {
  margin-bottom: 30px;
}

.party-hall-card:hover{
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
  border-radius: 1rem;
  cursor: pointer;
}

.party-hall-card img {
  margin-bottom: 1rem;
  margin-top: 1rem;
  width: 100%;
  height: 200px;
  object-fit: cover;
  border-radius: 1rem;
}

.party-hall-details h3 {
  font-size: 1.3rem;
  margin-bottom: 0.5rem;
}

.party-hall-details p {
  font-size: 1.1rem;
  margin: 0;
}

.icons {
  display: flex;
  flex-direction: row;
  align-items: center;
  font-size: 1.1rem;
  justify-content: center;
}

.icons i {
  margin-right: 0.5rem;
}