.card {
  max-width: 500px;
  margin: auto;
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  padding: 20px;
}

.form-group {
  margin-bottom: 8px;
}

label {
  display: block;
  margin-bottom: 0.5rem;
}

input[type="email"],
input[type="password"],
input[type="text"] {
  width: 100%;
  border: 1px solid #ccc;
  padding: 8px;
  border-radius: 2rem;
  margin-bottom: 0.5rem;
}

.form-control {
  border-radius: 2rem;
}

.button-group {
  text-align: center;
}

button[type="submit"] {
  display: inline-block;
  background-color: rgb(179, 74, 74);
  border: none;
  color: #fff;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  border-radius: 2rem;
}

button[type="submit"]:hover {
  background-color: #7e0303;

}

.text-danger {
  font-size: 12px;
  color: red;
}

.nav-tabs {
  cursor: pointer;
}

.nav-tabs .nav-link.active {
  color: #fff;
  background-color: rgb(179, 74, 74);
}

.invalid-feedback {
  animation: fade-in-out 0.5s ease-in-out;
  animation-iteration-count: 1;
  opacity: 1;
}

@keyframes fade-in-out {
  0% {
    opacity: 1;
  }

  75% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

.nav-link {
  transition: 0.3s ease-out;
}

.btn-primary {
  background-color: #c02323;
  border: white;
}

.btn-primary:hover {
  background-color: #710c0c;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
  border: white;
}

.form-check-input:checked {
  background-color: rgb(144, 6, 6);
  border:#710c0c
}