<div class="container">
  <div class="partyHall-info">
    <div class="image-carousel" *ngIf="partyHall && partyHall.images && partyHall.images.length > 0">

      <div class="carousel-buttons">
        <div class="carousel-slide" *ngFor="let image of partyHall.images; let i = index"
          [style.background-image]="'url(' + image + ')'" [class.active]="i === currentImageIndex">
          <button class="prev-button" (click)="onPrevClick()">‹</button>
          <button class="next-button" (click)="onNextClick()">›</button>
        </div>
      </div>
    </div>
    <h1><b>{{ partyHall?.name }}</b></h1>
    <p><b>Address:</b> {{ partyHall?.address?.street }}, {{ partyHall?.address?.city }}, {{ partyHall?.address?.state
      }},
      {{ partyHall?.address?.country }}, {{ partyHall?.address?.postalcode }}</p>
      <div class="map-frame">
        <div id="map"></div>
      </div>
    <p><b>Capacity:</b> {{ partyHall?.capacity }}</p>
    <p><b>Amenities:</b></p>
    <ul>
      <li *ngFor="let amenity of partyHall?.amenities">{{ amenity }}</li>
    </ul>

    <div class="pricing">
      <p><b>Price per hour:</b> ${{partyHall?.pricing?.perHour}}</p>
      <p><b>Price per day:</b> ${{partyHall?.pricing?.perDay}}</p>
      <p><b>Price per week:</b> ${{partyHall?.pricing?.perWeek}}</p>
    </div>
    <div class="availability">
      <p>Status: {{partyHall?.availability}}</p>
    </div>
    <button (click)="savedHalls(partyHall)" class="add-to-wishlist-button">Add to Saved Halls</button>
  </div>
</div>