.container{
  display:flex;
  justify-content: center;
}

.dashboard-tabs ul.nav-tabs {
  border-bottom: none;
}

.dashboard-tabs ul.nav-tabs li {
  border: none;
  margin: 0;
}

.dashboard-tabs ul.nav-tabs li a {
  color: #444;
  font-size: 16px;
  border-radius: 0;
  border: none;
  margin-right: 15px;
  padding: 10px;
  cursor: pointer;
}

.dashboard-tabs ul.nav-tabs li.active a,
.dashboard-tabs ul.nav-tabs li a:hover {
  background-color: #fdfdfd;
  color: #488aff;
  border-bottom: 3px solid #488aff;
}

.dashboard-tabs .tab-content {
  border: none;
  padding: 15px;
  margin-top: 30px;
  background-color: #fdfdfd;
  border-radius: 3px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.dashboard-tabs {
  background-color: #f7f7f7;
  padding: 20px;
  margin-bottom: 50px;
}

.dashboard-tabs h2 {
  margin-top: 0;
}

.tab-content p {
  margin-top: 0;
}

.logout-btn {
  font-size: 16px;
  margin: 1vw;
  position: absolute;
  border: none;
  right: 0;
  top: 0;
  color: #ffffff;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  background-color: rgb(179, 74, 83);
}

.logout-btn:hover {
  background-color: #7e0307;
}

@media screen and (max-width: 767px) {
  .dashboard-tabs {
      position: relative;
  }

  .logout-btn {
      position: relative;
      margin-top: 10px;
      margin-left: 0;
      padding: 0;
      display: block;
  }
}

.partyHall-details {
  margin-top: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

h1{
  text-align: center;
}

ul li{
  font-size: 1.1rem;
}

.partyHall-info {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  max-width: 600px;
  padding: 20px;
  border: 2px solid #ddd;
  border-radius: 5px;
  background-color: #fff;
  margin:5vw;
  text-align: left;
}

.partyHall-info img {
  max-width: 100%;
  height: auto;
}

.partyHall-info h1 {
  font-size: 32px;
  margin-top: 20px;
}

.partyHall-info p {
  font-size: 20px;
  margin-top: 10px;
}

.partyHall-info .carousel {
  max-height: 400px;
  width: 100%;
  overflow: hidden;
}

.partyHall-info .carousel-inner {
  display: flex;
}

.partyHall-info .carousel-item {
  flex: 1 0 100%;
  margin-right: 20px;
  transition: transform ease-in-out 0.3s;
}

.partyHall-info .carousel-item img {
  max-width: 100%;
  height: auto;
}

.image-carousel {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 100%;
  height: 300px;
  overflow: hidden;
}

.carousel-slide {
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: absolute;
  opacity: 0;
  transition: opacity 1s ease-in-out;
}

.carousel-slide.active {
  position: relative;
  opacity: 1;
}

.carousel-buttons {
  display: flex;
  justify-content: space-between;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.carousel-buttons {
  position: relative;
}

.carousel-buttons button {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background: rgba(0, 0, 0, 0.5); /* semi-transparent black */
  border: none;
  color: white;
  font-size: 2em;
  padding: 10px;
  cursor: pointer;
}

.carousel-buttons .prev-button {
  left: 10px;
}

.carousel-buttons .next-button {
  right: 10px;
}

.add-to-wishlist-button {
  margin-top: 4vh;
  background-color: #7098a2;
  color: white;
  border-radius: 5px;
  padding: 10px 20px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.add-to-wishlist-button:hover {
  background-color: #367a55;
}