<div class="container">
  <div class="partyHall-info">
    <br />
    <div class="image-carousel" *ngIf="partyHall && partyHall.images && partyHall.images.length > 0">

      <div class="carousel-buttons">
        <div class="carousel-slide" *ngFor="let image of partyHall.images; let i = index"
          [style.background-image]="'url(' + image + ')'" [class.active]="i === currentImageIndex">
          <button class="prev-button" (click)="onPrevClick()">‹</button>
          <button class="next-button" (click)="onNextClick()">›</button>
        </div>
      </div>
    </div>
    <h1><b>{{ partyHall?.name }}</b></h1>
    <p> <i class="fas fa-map-marker-alt"></i> {{ partyHall?.address?.street }}, {{ partyHall?.address?.city }}, {{
      partyHall?.address?.state}},
      {{ partyHall?.address?.country }}, {{ partyHall?.address?.postalcode }}</p> <br />
    <div class="map-frame">
      <div id="map"></div>
    </div>
    <br />
    <div class="info d-flex">
      <div><i class="fas fa-user-friends"></i> {{ partyHall?.capacity }}</div>
      <div><i class="fas fa-dollar-sign"></i>{{partyHall?.pricing?.perDay}}</div>
      <div>
        <i class="fas fa-list"></i> <b> Amenities</b>
        <ul type="none">
          <li *ngFor="let amenity of partyHall?.amenities">
            <i class="fas fa-check"></i> {{ amenity }}
          </li>
        </ul>
      </div>
    </div>

    <div class="button d-flex">
      <button (click)="saveToSavedList()" class="add-to-wishlist-button">Save Hall</button>
      <button (click)="seeReview()" class="review">See Reviews</button>
      <button (click)="bookHall()" class="book">Book Hall</button>
    </div>
    <br />
  </div>
</div>
<div>
  <br />
  <router-outlet></router-outlet>
</div>