<div class="container">
    <div class="tabs">
      <ul class="nav nav-tabs">
        <li class="nav-item">
          <a class="nav-link" routerLink="party-hall-list">Party Halls </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="owner-details">Details</a>
        </li>
        <button class="logout-btn" (click)="logout()">Logout</button>
      </ul>
      <div class="tab-content">
        <div class="party-hall-details">
            <h2>{{name}}</h2>
            <div class="details">
                <div class="address">
                    <span>Address:</span>
                    <ul>
                        <li *ngFor="let addr of address">{{addr.street}}, {{addr.city}}, {{addr.state}}, {{addr.country}} -
                            {{addr.postalcode}}</li>
                    </ul>
                </div>
                <div class="capacity">
                    <span>Capacity:</span> {{capacity}}
                </div>
                <div class="amenities">
                    <span>Amenities:</span>
                    <ul>
                        <li *ngFor="let amenity of amenities">{{amenity}}</li>
                    </ul>
                </div>
                <div class="pricing">
                    <span>Pricing:</span>
                    <ul>
                        <li *ngFor="let price of pricing">
                            per Hour: {{ price.perHour }}
                            per Day: {{ price.perDay }}
                            per Week: {{ price.perWeek }}
                        </li>
                    </ul>
                </div>
                <div class="availability">
                    <span>Availability:</span>
                    <ul>
                        <li *ngFor="let avail of availability">
                            {{ avail.startDateTime | date }} - {{ avail.endDateTime | date }} - {{ avail.range }}
                        </li>
                    </ul>
                </div>
                <div class="images">
                    <span>Images:</span>
                    <ul>
                        <li *ngFor="let image of images"><img [src]="image"></li>
                    </ul>
                </div>
            </div>
        </div>
        <router-outlet></router-outlet>
      </div>
    </div>
<!-- Party Hall Details Section-->
</div>