.container {
  display: flex;
  justify-content: center;
  flex-grow: 1;
}

.partyHall-details {
  margin-top: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

h1 {
  text-align: center;
}

ul li {
  font-size: 1.1rem;
}

.partyHall-info {
  margin-top: 15px;
  display: flex;
  flex-direction: column;
  text-align: left;
  border-radius: 1rem;
}

.partyHall-info img {
  max-width: 100%;
  height: auto;
  box-shadow: 2px 2px 2px 2px rgba(0.3, 0.3, 0.3, 0.3);
}

.partyHall-info h1 {
  font-size: 32px;
  margin-top: 20px;
}

.partyHall-info p {
  font-size: 20px;
  margin-top: 10px;
  text-align: center;
}

.info{
  font-size: 20px;
  margin-top: 10px;
  justify-content: space-evenly;
  text-align: justify;
}

.partyHall-info .carousel {
  max-height: 400px;
  width: 100%;
  overflow: hidden;
}

.partyHall-info .carousel-inner {
  display: flex;
}

.partyHall-info .carousel-item {
  flex: 1 0 100%;
  margin-right: 20px;
  transition: transform ease-in-out 0.3s;
}

.partyHall-info .carousel-item img {
  max-width: 100%;
  height: auto;
}

.image-carousel {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 100%;
  height: 300px;
  overflow: hidden;
}

.carousel-slide {
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: absolute;
  opacity: 0;
  transition: opacity 1s ease-in-out;
}

.carousel-slide.active {
  position: relative;
  opacity: 1;
}

.carousel-buttons {
  display: flex;
  justify-content: space-between;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.carousel-buttons {
  position: relative;
}

.carousel-buttons button {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background: rgba(0, 0, 0, 0.5);
  border: none;
  color: white;
  font-size: 2em;
  padding: 10px;
  cursor: pointer;
}

.carousel-buttons .prev-button {
  left: 10px;
}

.carousel-buttons .next-button {
  right: 10px;
}

.add-to-wishlist-button {
  box-shadow: 2px 2px 2px 2px rgba(0.3, 0.3, 0.3, 0.3);
  margin-top: 4vh;
  background-color: rgb(180, 50, 50);
  color: white;
  border-radius: 5px;
  padding: 10px 20px;
  cursor: pointer;
  transition: background-color 0.3s;
  border: 1px solid rgb(130, 20, 20);
}

.add-to-wishlist-button:hover {
  background-color: #9683ba;
}

.book {
  box-shadow: 2px 2px 2px 2px rgba(0.3, 0.3, 0.3, 0.3);
  margin-top: 4vh;
  background-color: rgb(180, 50, 50);
  color: white;
  border-radius: 5px;
  padding: 10px 20px;
  cursor: pointer;
  transition: background-color 0.3s;
  border: 1px solid rgb(130, 20, 20);
}

.book:hover {
  background-color: #9683ba;
}

.review {
  box-shadow: 2px 2px 2px 2px rgba(0.3, 0.3, 0.3, 0.3);
  margin-top: 4vh;
  background-color: rgb(180, 50, 50);
  color: white;
  border-radius: 5px;
  padding: 10px 20px;
  cursor: pointer;
  transition: background-color 0.3s;
  border: 1px solid rgb(130, 20, 20);
}

.review:hover {
  background-color: #9683ba;
}

@import "~leaflet/dist/leaflet.css";

#map {
  height: 29.75rem;
  width: 100%;
}

.map-frame {
  border: 2px solid black;
  height: 30rem;
  width: 70vw;
}

.button {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
}