@import url("https://fonts.googleapis.com/css2?family=Poppins:weight@100;200;300;400;500;600;700;800&display=swap");

.card {
  width: 380px;
  border: none;
  border-radius: 15px;
  padding: 8px;
  background-color: #fff;
  position: relative;
  height: 370px;
  background-color: rgb(237, 234, 234);
}

.upper {
  height: 100px;
}

.upper img {
  width: 100%;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.user {
  position: relative;
}

.profile img {
  height: 80px;
  width: 80px;
  margin-top: 2px;
}

.profile {
  position: absolute;
  top: -50px;
  left: 38%;
  height: 90px;
  width: 90px;
  border: 3px solid #fff;
  border-radius: 50%;
}

.follow {
  border-radius: 15px;
  padding-left: 20px;
  padding-right: 20px;
  height: 35px;
}

.stats span {
  font-size: 29px;
}

/* Display the hall card grid */
.party-hall-card-grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

/* Control the hall card styles */
.party-hall-card {
  width: 16rem;
  margin: 2rem;
  padding:0.3rem;
  border: 0.2rem solid #ccc;
  border-radius: 0.5rem;
  overflow: hidden;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
  background-color: rgb(237, 234, 234);
}

/* Control the size of the hall card image */
.party-hall-card img {
  width: 100%;
  height: 18rem;
}

/* Control the dhall card details */
.party-hall-details {
  padding: 1rem;
  text-align: left;
}

/* Control the font and margin for the titles */
h3 {
  margin-top: 0;
  margin-bottom: 0.5rem;
  font-size: 1.2rem;
  padding: 1rem;
  text-align: center;
}

p {
  text-align: center;
}

.info {
  display: flex;
  justify-content: space-evenly;
}

.buttons {
  display: flex;
  justify-content: space-evenly;
}

button {
  margin: 1rem;
  position: static;
  justify-content: space-evenly;
  background-color: rgb(203, 114, 114);
  border-radius: 0.8rem;
  box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.3);
  border: none;
  padding: 0.3rem;
}

button:hover {
  background-color: brown;
}

a {
  text-decoration: none;
  color: black;
}

.container {
  margin: 20px;
}

.confirmation-dialog {
  background-color: #ffffff;
  border-radius: 6px;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.3);
  padding: 20px;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 999;
}

.confirmation-dialog p {
  margin-bottom: 20px;
}

.confirmation-dialog button {
  background-color: #d74b4b;
  border: none;
  border-radius: 3px;
  color: #fff;
  cursor: pointer;
  font-size: 14px;
  margin-right: 10px;
  padding: 10px 16px;
  transition: all 0.2s ease;
}

.confirmation-dialog .button-container {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.confirmation-dialog button:hover {
  background-color: rgb(126, 4, 4);
}

.confirmation-dialog button.cancel {
  background-color: #d4d3d3;
  color: #050505;
}

.confirmation-dialog button.cancel:hover {
  background-color: #a9a9a9;
}

h2 {
  margin: 1rem;
}

.fa-dollar-sign {
  margin-left: 1.5rem;
  margin-right: 0.3rem;
}

.fa-user-friends {
  margin-left: 1.5rem;
  margin-right: 0.3rem;
}