.owner-details {
    border: 1px solid #ccc;
    padding: 10px;
    border-radius: 5px;
    background-color: #fff;
  }
  
  .owner-details h2 {
    font-size: 24px;
    margin-top: 0;
  }
  
  .owner-details .owner-info {
    font-size: 16px;
    margin-bottom: 0;
  }
  
  .owner-details .owner-info span {
    font-weight: bold;
  }