<div class="container">
  <br />
  <ng-container *ngIf="reviews.length > 0; else noReview">
    <div class="card" *ngFor="let review of reviews">
      <div class="rating">
        {{ review.rating }} out of 5 stars
      </div>
      <ng-container>
        <div class="review-text">
          {{ review.reviewText }}
        </div>
        <div class="name">
          - Anonymous
        </div>
      </ng-container>
    </div>
  </ng-container>
  <ng-template #noReview>
    <p class="no-review-text">No reviews yet</p>
  </ng-template>
  <br />
</div>