/* Display the party hall card grid */
.party-hall-card-grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.container{
  border-radius: 2rem;
}

button{
  box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.3);
  margin-left:2rem;
  border-radius: 1.2rem;
  background-color: rgb(160, 58, 58);
  color:rgb(255, 255, 255);
  border: 1px solid rgb(199, 16, 117);
}

button:hover{
  background-color: rgb(94, 39, 39);
  color: white;
}

.search-bar .fa-dollar-sign{
  margin:0.5rem;
}

.search-bar .fa-user-friends{
  margin:0.5rem;
}

/* Style the search bar */
.fa-search {
  margin: 1rem;
}

.search-bar {
  display: flex;
  justify-content: center;
  text-align: center;
  margin-bottom: 2rem;
  margin-top: 1rem;
  width: 100%;
  height: 20%;
}

/* Set styles for the input element */
input {
  width: 30%;
  height: auto;
  border-radius: 1.5rem;
}

::placeholder {
  text-align: center;
}

/* Control the card styles */
.party-hall-card {
  width: 15rem;
  margin: 2rem;
  border: 0.2rem solid #ccc;
  border-radius: 0.5rem;
  overflow: hidden;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
  cursor: pointer;
  background-image: linear-gradient(to bottom, #ffffff, #ba9595);
  padding: 0.3rem;
}

/* Style the card on hover state */
.party-hall-card:hover {
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.5);
}

/* Control the size of the card image */
.party-hall-card img {
  width: 100%;
  height: 15rem;
  display: flex;
  justify-content: center;
}

/* Control the font and margin for the titles */
h3{
  margin-top: 0;
  font-size: 1.2rem;
  padding-top: 1rem;
  text-align: center;
}

.logout-btn {
  font-size: 16px;
  margin: 1vw;
  position: absolute;
  border: none;
  right: 0;
  top: 0;
  color: #ffffff;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  background-color: rgb(179, 74, 83);
}

.logout-btn:hover {
  background-color: #7e0307;
}

@media screen and (max-width: 767px) {

  .logout-btn {
      position: relative;
      margin-top: 10px;
      margin-left: 0;
      padding: 0;
      display: block;
  }
}

.icons{
  margin-bottom: 1rem;
}

.icons .fa-dollar-sign{
  margin-left:1.5rem;
  margin-right:0.3rem;
}

.icons .fa-user-friends{
  margin-left:2rem;
  margin-right:0.5rem;
}

.party-hall-details{
margin: 0.5rem;
}

/* Control the font and margin for the details */
p {
  margin: 0.5rem;
  font-size: 1.1rem;
  text-align: center;

}

/* Set width of the cards to 100% for smaller devices */
@media (max-width: 767px) {
  .card {
    width: 100%;
  }
}

/* Control the look of hyperlink elements */
a {
  text-decoration: none;
  color: black;
}

/* Style the pagination container */
.pagination-container {
  position: relative;
  bottom: 20px;
  width: 100%;
  text-align: center;
  cursor: pointer;
}

.pagination .active a.page-link {
  background-color: rgb(180, 17, 17);
  border-color: #960c10;
}
