/* Display the party hall card grid */
.party-hall-card-grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  /* background-image: linear-gradient(to bottom, #ffffff, #d5a2a2); */
}

.container{
  /* background-image: linear-gradient(to bottom, #fff8e9, #fde2ff); */
  border-radius: 2rem;
}

button{
  box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.3);
  margin-left:2rem;
  border-radius: 1rem;
  background-color: rgb(200, 75, 75);
  color:rgb(255, 255, 255);
  border: 1px solid rgb(199, 16, 117);
}

button:hover{
  background-color: rgb(105, 51, 51);
  color: white;
}

/* Style the search bar */
i {
  margin: 1rem;
  /* Icon margin */
}

.search-bar {
  display: flex;
  justify-content: center;
  text-align: center;
  margin-bottom: 2rem;
  margin-top: 2rem;
  width: 100%;
  height: 20%;
}

/* Set styles for the input element */
input {
  width: 30%;
  height: auto;
  border-radius: 1.5rem;
}

::placeholder {
  text-align: center;
  /* Center the placeholder text */
}

/* Control the artwork card styles */
.party-hall-card {
  width: 15rem;
  margin: 2rem;
  border: 0.2rem solid #ccc;
  border-radius: 0.5rem;
  overflow: hidden;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
  cursor: pointer;
  background-image: linear-gradient(to bottom, #ffffff, #ba9595);
}

/* Style the artwork card on hover state */
.party-hall-card:hover {
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.5);
}

/* Control the size of the artwork card image */
.party-hall-card img {
  width: 100%;
  height: 20rem;
}

/* Control the artwork card details */
.card-details {
  padding: 1rem;
  text-align: left;
}

/* Control the font and margin for the titles */
h3, h5 {
  margin-top: 0;
  margin-bottom: 0.5rem;
  font-size: 1.2rem;
  padding: 1rem;
  text-align: center;
}

.dashboard-tabs ul.nav-tabs {
  border-bottom: none;
}

.dashboard-tabs ul.nav-tabs li {
  border: none;
  margin: 0;
}

.dashboard-tabs ul.nav-tabs li a {
  color: #444;
  font-size: 16px;
  border-radius: 0;
  border: none;
  margin-right: 15px;
  padding: 10px;
}

.dashboard-tabs ul.nav-tabs li.active a,
.dashboard-tabs ul.nav-tabs li a:hover {
  background-color: #fdfdfd;
  color: #488aff;
  border-bottom: 3px solid #488aff;
}

.dashboard-tabs .tab-content {
  border: none;
  padding: 15px;
  margin-top: 30px;
  background-color: #fdfdfd;
  border-radius: 3px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.dashboard-tabs {
  background-color: #f7f7f7;
  padding: 20px;
  margin-bottom: 50px;
}

.dashboard-tabs h2 {
  margin-top: 0;
}

.tab-content p {
  margin-top: 0;
}

.logout-btn {
  font-size: 16px;
  margin: 1vw;
  position: absolute;
  border: none;
  right: 0;
  top: 0;
  color: #ffffff;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  background-color: rgb(179, 74, 83);
}

.logout-btn:hover {
  background-color: #7e0307;
}

@media screen and (max-width: 767px) {
  .dashboard-tabs {
      position: relative;
  }

  .logout-btn {
      position: relative;
      margin-top: 10px;
      margin-left: 0;
      padding: 0;
      display: block;
  }
}

/* Control the font and margin for the details */
p {
  margin: 0;
  font-size: 1.1rem;
  padding:2rem 1rem;
}

/* Set width of the cards to 100% for smaller devices */
@media (max-width: 767px) {
  .card {
    width: 100%;
  }
}

/* Control the look of hyperlink elements */
a {
  text-decoration: none;
  color: black;
}

/* Style the pagination container */
.pagination-container {
  position: relative;
  /* Set the position of the container */
  bottom: 20px;
  /* Position the thing 20 pixels from the bottom */
  width: 100%;
  /* Full width */
  text-align: center;
  /* Center the content */
  cursor: pointer;
}
