  .container {
    max-width: 500px;
    margin: 0 auto;
  }
  
  h2 {
    font-size: 2rem;
    margin:1rem;
  }
  
  button {
    background-color: #1e88e5;
    color: #fff;
    font-size: 1.2rem;
    padding: 0.75rem 1.5rem;
    border-radius: 1rem;
    margin-top: 1rem;
  }
  
  button:disabled {
    background-color: #ccc;
    cursor: not-allowed;
  }
  
  p.invalid-feedback {
    color: red;
    font-size: 1.2rem;
    margin-top: 0.5rem;
  }