<div class="container mt-5">
    <div class="row">
      <div class="col-md-6 offset-md-3">
        <h2 class="text-center mb-4">Booking</h2>
        <mat-form-field>
          <input matInput
                 [matDatepicker]="startPicker"
                 placeholder="Select a start date"
                 [min]="minDate"
                 [max]="maxDate"
                 (dateInput)="handleStartDateInput($event)">
          <mat-datepicker-toggle matSuffix [for]="startPicker"></mat-datepicker-toggle>
          <mat-datepicker #startPicker></mat-datepicker>
        </mat-form-field>
        <mat-form-field>
          <input matInput
                 [matDatepicker]="endPicker"
                 placeholder="Select an end date"
                 [min]="startDate"
                 [max]="maxDate"
                 (dateInput)="handleEndDateInput($event)">
          <mat-datepicker-toggle matSuffix [for]="endPicker"></mat-datepicker-toggle>
          <mat-datepicker #endPicker></mat-datepicker>
        </mat-form-field>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6 offset-md-3 text-center">
        <button mat-raised-button [disabled]="!startDate || !endDate || startDate > endDate || isDateDisabled(startDate) || isDateDisabled(endDate)" (click)="payNow() ">Pay</button>      
        <p *ngIf="isDateDisabled(startDate) || isDateDisabled(endDate)" class="invalid-feedback d-block">Selected dates are not available. Please choose different dates.</p>
      </div>
    </div>
  </div>