<div class="container">
<!--Heading-->
<div class="head">
  <h2>Your Saved List</h2>
  <div *ngIf="savedHalls.length>0" class="empty">
    <button (click)="clearSavedHalls()">Empty List</button>
  </div>
</div>
<!--Wishlist items display-->
<div *ngIf="savedHalls.length>0" class="wishlist-items">
  <div *ngFor="let item of savedHalls" class="wishlist-card">
    <img [src]="partyHallService.getImageUrl(item.images)" alt="{{ item.name }}" />
    <div class="card-details">
      <h3>{{ item.name }}</h3>
      <p>{{ item.address.street }}, {{ item.address.city }}, {{ item.address.state }}, {{ item.address.country }},
        {{ item.address.postalcode }}</p>
    </div>
    <button (click)="removeSavedHall(item)">Remove from Wishlist</button>
  </div>
</div>
<div *ngIf="savedHalls.length===0" class="empty-wishlist">
  <p>Your Saved Halls List is empty</p>
</div>
</div>
