/* Apply styles to the Wishlist component*/
.container {
  overflow: hidden;
}

#wishlist {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  text-align: center;
}

.wishlist-items {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  text-align: center;
}

/* Style the wishlist cards */
.wishlist-card {
  width: 15rem;
  margin: 2rem;
  border: 0.2rem solid #ccc;
  border-radius: 0.5rem;
  overflow: hidden;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
}

.wishlist-card:hover {
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.5);
}

.wishlist-card img {
  width: 100%;
  height: 20rem;
}

.card-details {
  padding: 1rem;
  text-align: left;
}

.wishlist-card button {
  position: static;
  margin: 1rem 2.5rem;
  background-color: rgb(205, 119, 119);
  border-radius: 0.8rem;
  box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.3);
  border: none;
  color:white;
}

.wishlist-card button:hover{
  background-color: brown;
}

h3 {
  margin-top: 0;
  margin-bottom: 0.5rem;
  font-size: 1.2rem;
  text-align: center;
  font-weight: bold;
}

p {
  margin: 0;
  font-size: 1rem;
  text-align: center;
}

@media (max-width: 767px) {
  .card {
    width: 100%;
  }
}

a {
  text-decoration: none;
  color: black;
}

.empty button {
  cursor: pointer;
  border-radius: 7px;
  background-color: rgb(211, 77, 77);
  transition: background-color 0.3s;
  color: white;
  box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.3);
  border: none;

}

.empty button:hover {
  background-color: rgb(131, 30, 30);
}

.empty-wishlist {
  margin-top: 15rem;
  color: #888;
  position: relative;
  text-align: center;
}

.head {
  text-align: center;
  background-color: rgb(241, 231, 231);
  width: 100%;
  margin-top: 1rem;
  padding: 1rem;
}