.container {
    margin-top: 1rem;
    max-width: 800px;
    padding: 20px;
    background-color: #ffffff;
    color: #000000;
}

h2 {
    font-size: 1.5rem;
    margin-bottom: 20px;
    color: #8b0000;
}

table {
    width: 100%;
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.3);
}

/* Table Header */
th {
    text-align: center;
    background-color: #8b0000;
    color: #ffffff;
    padding: 10px;
}

/* Table Rows */
tr {
    border-bottom: 1px solid #dddddd;
}

td {
    padding: 10px;
    text-align: left;
    font-size: 1rem;
}

/* Delete Button */
button.delete {
    background-color: #b22222;
    color: #ffffff;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    border-radius: 5px;
}

/* Confirmation Dialog */
.confirmation-dialog {
    background-color: #ffffff;
    border-radius: 6px;
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.3);
    padding: 20px;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 999;
    width: 400px;
    max-width: 80%;
}

.confirmation-dialog p {
    margin-bottom: 20px;
    font-size: 16px;
    text-align: center;
}

.confirmation-dialog button {
    background-color: #d74b4b;
    border: none;
    border-radius: 3px;
    color: #fff;
    cursor: pointer;
    font-size: 14px;
    margin-right: 10px;
    padding: 10px 16px;
    transition: all 0.2s ease;
}

.confirmation-dialog .button-container {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.confirmation-dialog button:hover {
    background-color: rgb(126, 4, 4);
}

.confirmation-dialog button.cancel {
    background-color: #d4d3d3;
    color: #050505;
}

.confirmation-dialog button.cancel:hover {
    background-color: #a9a9a9;
}