.container {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #f2f2f2;
  }
  h1 {
    text-align: center;
    margin-top: 50px;
  }
  form {
    max-width: 600px;
    margin: 0 auto;
    background-color: #fff;
    padding: 50px;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
    margin-bottom: 50px;
  }
  label {
    display: block;
    margin-bottom: 10px;
    font-size: 18px;
    font-weight: bold;
  }
  input[type="number"],
  textarea {
    display: block;
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border-radius: 5px;
    border: none;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  input[type="submit"] {
    background-color: #af4c4c;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    font-weight: bold;
    transition: background-color 0.2s ease;
  }
  input[type="submit"]:hover {
    background-color: #8e3e3e;
  }

  .no-review-message {
    margin-top: 20px;
    padding: 10px;
    background-color: #f2f2f2;
    border: 1px solid #ccc;
    border-radius: 5px;
    text-align: center;
    font-size: 1.2rem;
    color: #666;
  }