.container {
  background-color: #f2f2f2;
  border-radius: 15px;
  margin-top: 50px;
  padding: 20px;
  max-width: 800px;
  margin: auto;
}

h2 {
  text-align: center;
  margin-bottom: 30px;
  color: #303030;
}

label{
  font-weight: bold;
  color: #303030;
}

input[type="text"],
input[type="link"],
select,
textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin-bottom: 10px;
  font-size: 16px;
  resize: vertical;
}

input[type="text"]:hover,
input[type="link"]:hover,
select:hover,
textarea:hover {
  border-color: #af4c4c;
}

button[type="button"],
button[type="submit"] {
  background-color: #af4c4c;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  padding: 0.5rem;
  margin: 0.5rem;
}

button[type="button"]:hover,
button[type="submit"]:hover {
  background-color: #642626;
}

.form-group {
  margin-bottom: 30px;
}

.error-message {
  color: red;
  font-size: 14px;
  margin: 5px;
}

.terms-mailing {
  margin-top: 20px;
}

.checkbox {
  margin-bottom: 10px;
}

.checkbox a {
  color: #af4c6b;
}

@media only screen and (max-width: 768px) {
  .container {
    max-width: 90%;
    padding: 10px;
    margin-top: 20px;
  }

  input[type="text"],
  input[type="link"],
  select,
  textarea {
    font-size: 14px;
  }

  button[type="button"],
  button[type="submit"] {
    padding: 10px 16px;
    margin-top: 10px;
    margin-right: 0;
  }

  .form-row {
    flex-direction: column;
  }
}

.uploaded-image {
  max-width: 200px;
  max-height: 200px;
}