.card {
  margin-top: 10px;
}

.form-group {
  margin-bottom: 8px;
}

label {
  display: block;
  margin-bottom: 0.5rem;
}


input[type="email"],
input[type="password"],
input[type="text"] {
  width: 100%;
  border: 1px solid #ccc;
  padding: 8px;
  border-radius: 3rem;
  margin-bottom: 1.5rem;
}

button[type="submit"] {
  display: inline-block;
  background-color: rgb(74, 93, 179);
  border: none;
  color: #fff;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  margin-left: 40%;
  border-radius: 2rem;

}

button[type="submit"]:hover {
  background-color: #033f7e;
}

.text-danger {
  font-size: 12px;
  color: red;
}

.nav-tabs {
  cursor: pointer;
}

.nav-tabs .nav-link.active {
  color: #fff;
  background-color: rgb(74, 93, 179);
}

.invalid-feedback {
  animation: fade-in-out 0.5s ease-in-out;
  animation-iteration-count: 1;
  opacity: 1;
}

@keyframes fade-in-out {
  0% {
    opacity: 1;
  }

  75% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

.nav-link {
  transition: 0.3s ease-out;
}

.social-container {
  margin: 20px 0;
}

.social-container a {
  border: 1px solid #DDDDDD;
  border-radius: 50%;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  margin: 0 5px;
  height: 40px;
  width: 40px;
}

.social-media {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-top: auto;
  font-size: 14px;
  margin-left:20%;
}

.social-media span {
  font-size: 16px;
  color: rgb(255, 255, 255);
}

.social-media a {
  color: #ffffff;
  text-decoration: none;
  font-size: 20px;
  margin: 0 0.5rem;
  padding: 0.7rem;
  border-radius: 1rem;
}

.fa-facebook-f {
  background-color: rgb(74, 93, 179);
}

.fa-twitter {
  background-color: rgb(13, 209, 235);
}

.fa-instagram {
  background: linear-gradient(to right, #ff6adf, #ffd671);
}

.content {
  display: flex;
  width: 100%;
  height: 50px;
  font-size: 16px;
  align-items: center;
  justify-content: space-around;
}

.content .checkbox {
  display: flex;
  align-items: center;
  justify-content: center;
}

.content input {
  width: 15px;
  height: 10px;
}

.content .checkbox label {
  color: #ffffff;
  user-select: none;
  padding-left: 5px;
  padding-top: 0.5rem;
}

.content .pass-link {
  color: "";
}

.signup-link {
  color: #ffffff;
  margin-top: 20px;
  text-align: center;
}

form .pass-link a,
form .signup-link a {
  color: #4158d0;
  text-decoration: none;
}

form .pass-link a:hover,
form .signup-link a:hover {
  text-decoration: underline;
}