.dashboard-container {
    display: flex;
    flex-direction: row;
    height: 100%;
    overflow: auto;
}

.dashboard-tabs{
    flex-direction: column;
}

.dashboard-content{
    flex-grow: 1;
}

.topbar{
    background-color: #ffffff;
    box-shadow: 2px 2px 2px 2px rgba(0.3, 0.3, 0.3, 0.3);
}

.dashboard-nav .nav-list{
    position: fixed;
    margin-top: 3rem;
    width: 13vw;
}

h2{
    color: white;
    text-align: center;
    position: fixed;
    margin-left:1rem;
}

.logout-btn {
    font-size: 16px;
    margin: 1vw;
    border: none;
    right: 0;
    top: 0;
    color: #ffffff;
    padding: 10px 12px;
    border-radius: 20px;
    cursor: pointer;
    background-color: #473737;
    box-shadow: 2px 2px 2px 2px rgba(79, 70, 70, 0.3);
}

.notif-btn{
    font-size: 16px;
    margin: 1vw;
    border: none;
    right: 0;
    top: 0;
    color: #ffffff;
    padding: 10px 12px;
    border-radius: 20px;
    cursor: pointer;
    background-color: #473737;
    box-shadow: 2px 2px 2px 2px rgba(79, 70, 70, 0.3);
}

.logout-btn:hover {
    background-color: #7e0307;
}

.notif-btn:hover {
    background-color: #7e0307;
}

@media screen and (max-width: 767px) {
    .logout-btn {
        position: relative;
        margin-top: 10px;
        margin-left: 0;
        padding: 0;
        display: block;
    }

    .notif-btn {
        position: relative;
        margin-top: 10px;
        margin-left: 0;
        padding: 0;
        display: block;
    }
}

.dashboard-nav {
    display: flex;
    flex-direction: column;
    width: 220px;
    background-color: #2d2727;
    box-shadow: 2px 0px 5px rgba(0, 0, 0, 0.2);
    padding: 20px;
    transition: transform 0.3s ease-in-out;
}

.nav-list {
    list-style: none;
    margin: 0;
    padding: 0;
    border-top: 1px solid #D1D1D1;
}

.nav-item {
    margin-bottom: 15px;
    cursor: pointer;
}

.nav-link {
    display: block;
    padding: 10px;
    border-radius: 5px;
    color:white;
    text-decoration: none;
    transition: background-color 0.2s ease-in-out;
    cursor: pointer;
}

.nav-link:hover {
    background-color: #7c6666;
}