<div class="dashboard-container navbar-light navbar-bg d-flex">
  <div class="dashboard-nav">
    <h2>Dashboard</h2>
    <ul class="nav-list">
      <li class="nav-item">
        <a class="nav-link" routerLink="party-hall-list">
          <i class="fas fa-glass-cheers"></i> Party Halls
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="user-history">
          <i class="fas fa-history"></i> Details
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" (click)="savedList()">
          <i class="fas fa-star"></i> My Saved
        </a>
      </li>
      <li class="nav-item border-bottom">
        <a class="nav-link" routerLink="help">
          <i class="fas fa-envelope"></i> Contact Us
        </a>
      </li>
    </ul>
  </div>

  <div class="dashboard-content">
    <div class="dashboard-tabs d-flex">
      <div class="topbar d-flex justify-content-end align-items-center">
        <button class="notif-btn" (click)="showNotifications('user')">
          <i class="fas fa-bell" *ngIf="userNotifications.length > 0"></i>
          <i class="far fa-bell" *ngIf="userNotifications.length == 0"></i>
        </button>
        <button class="logout-btn" (click)="logout()"><i class="fas fa-sign-out-alt"></i></button>
      </div>

      <div class="tab-content">
        <router-outlet></router-outlet>
      </div>
    

    <div class="notifications" *ngIf="showNotifList">
      <ul>
        <li *ngFor="let notif of userNotifications">
          <a class="nav-link" *ngIf="notif.isRead === false" (click)="markAsRead(notif)">
            <strong>{{notif.message}}</strong>
            <p class="text-muted">{{notif.dateCreated | date:'MMM d, y, h:mm a'}}</p>
          </a>
          <a class="nav-link" *ngIf="notif.isRead === true">
            <strong>{{notif.message}}</strong>
            <p class="text-muted">{{notif.dateCreated | date:'MMM d, y, h:mm a'}}</p>
          </a>
        </li>
      </ul>
    </div>
  </div>
</div>
</div>