<div class="dashboard-container  navbar-expand navbar-light navbar-bg d-flex">

  <div class="dashboard-nav">
    <h2>User Dashboard</h2>
    <ul class="nav-list">
      <li class="nav-item">
        <a class="nav-link" routerLink="party-hall-list">Party Halls</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="user-history">Details</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" (click)="savedList()">My Saved</a>
      </li>
      <li class="nav-item border-bottom">
        <a class="nav-link" routerLink="help">Contact Us</a>
      </li>
      <button class="logout-btn" (click)="logout()">Logout</button>
    </ul>
  </div>

  <div class="dashboard-content">
    <div class="dashboard-tabs">
      <div class="tab-content">
        <router-outlet></router-outlet>
      </div>
    </div>
  </div>
</div>