@import url('https://fonts.googleapis.com/css?family=Saira+Semi+Condensed&display=swap');
@import '~@fortawesome/fontawesome-free/css/all.css';

* {
  all: all 0.5s ease;
  font-family: 'Saira Semi Condensed', sans-serif;
}

.container {
  box-sizing: border-box;
  max-width: 100%;
  height:72vh;
  padding: 0 16px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(255, 243, 226);
}

form {
  box-sizing: border-box;
  max-height: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.field:nth-of-type(2) {
  margin: 16px 0;
}

label,
input,
textarea {
  box-sizing: border-box;
  width: 100%;
  padding: 8px;
}

label,
[placeholder] {
  color: #555;
}

label i {
  margin: 0 10px 0 0;
}

.field:focus-within label {
  color: #000;
  letter-spacing: 2px;
}

input,
textarea {
  background: rgba(255, 255, 255, 0.5);
  border: none;
  border-radius: 4px;
  box-shadow: inset 0px 0px 5px rgba(0, 0, 0, 0.1);
}

input:focus,
textarea:focus {
  background: rgba(255, 255, 255, 1);
  box-shadow: none;
}

textarea {
  resize: none;
}

textarea::-webkit-scrollbar {
  display: none;
}

button {
  background: #3e51b3;
  padding: 8px 16px;
  margin: 16px 0 50px 0;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.1);
}

button:hover {
  background-color: rgb(78, 21, 132);
  letter-spacing: 2px;
  box-shadow: none;
}

@media (max-width: 425px) {
  form {
    max-height: 100%;
  }
}